.formContainer {
  position: absolute;
  width: 70vw;
  height: 70vh;
  left: 20vw;
  top: 35vh;
  display: block;
}

.formContainer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
}

.formContainer .requerido {
  color: red;
}

.row {
  margin-top: 2vh;
  margin-bottom: 3vh;
  display: grid;
  grid-template-columns: 0.03fr 0.2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.col1 {
  grid-area: 1 / 1 / 2 / 2;
}
.col2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  width: 205px;
  height: 167px;
  background: #ededed;
}

.col3,
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.from-input,
.col3 > * {
  width: 40vw;
  height: 35px;
}

.from-input {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 0.5vw;
}

*:focus {
  outline: none !important;
  border: 3px solid #2685ff;
  box-shadow: 0 0 10px #719ece;
}

textarea {
  min-height: 5vh;
  max-height: 10vh;
  max-width: 40vw;
}

.buttonForm input[type="submit"] {
  align-items: center;
  padding: 14px 10px;
  width: 343px;
  height: 50px;
  background: #00195b;
  border-radius: 26px;
  grid-area: 1 / 3 / 2 / 4;
  margin-left: 19vw;
}

.textButton {
  color: #fff;
}
