.paginacion {
  align-items: center;
  align-self: center;
  display: flex;
  height: 50px;
  margin-left: 6px;
  margin-top: 1104px;
  min-width: 310px;
}

.footer-container {
  position: absolute;
  width: 100vw;
  height: 240px;
  left: 0px;
  top: 100vh;
  background: #00195b;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footer-col1 {
  grid-area: 1 / 1 / 2 / 2;
}
.footer-col2 {
  grid-area: 1 / 2 / 2 / 3;
}
.footer-col3 {
  grid-area: 1 / 3 / 2 / 4;
}
.footer-col4 {
  grid-area: 1 / 4 / 2 / 5;
}

.row-footer {
  display: flex;

  justify-content: center;
  align-items: stretch;
  /* flex-flow: column nowrap; */
  flex-direction: column;
  flex-wrap: nowrap;

  height: 100%;
  padding: 15px;
  gap: 5px;
}

.row-footer > div {
  padding: 8px;
}

.footer-item1 {
  flex-grow: 1;
  align-self: auto;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.footer-item2 {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
